@page
@model TrackerApp.Web.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="container text-center text-light">
    <div class="row">
        <div class="col">
            <h1>You do not have access to this page</h1>
        </div>
    </div>
</div>