@page
@model TrackerApp.Web.Pages.Private.MapModel
@{
    ViewData["Title"] = "Map";
}

@section Styles {

    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />

    <link rel="stylesheet" href="~/css/MapStyles.css" />

}

<div id="topParent" class="container text-center">
    <div class="row text-light text-start">
        <div id="profileImageContainer" class="col-2">

        </div>
        <div class="col">
            <h4 id="welcomeText" class="mt-3"></h4>
        </div>
    </div>
    <div class="row mt-3 text-light text-start">
        <div class="col">
            <div class="form-check">
                <input id="chkPolyline" class="form-check-input" type="checkbox">
                <label class="form-check-label" for="chkPolyline">Track Locations With Line</label>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div id="map" class="col-12 mb-5"></div>
    </div>
</div>

@section Scripts {

    <script src="~/lib/leaflet/leaflet.js"></script>

    <script src="~/js/MapHandler.js"></script>

    <script src="~/js/UserProfileHandler.js"></script>

}